@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

html,
body {
  font-family: "Roboto";
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.btn {
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 300px;
  height: 55px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 768.98px) {
  .btn {
    width: 250px;
    height: 50px;
  }
}

@media (max-width: 479.98px) {
  .btn {
    width: 200px;
    height: 40px;
    font-size: 10px;
  }
}

.btn span {
  display: inline-block;
  height: 1px;
  width: 34px;
  position: relative;
  margin: 0px 0px 4px 12px;
}

.btn span:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 0;
  top: -3px;
}

.btn_white {
  color: #ffffff;
  border: 2px solid #ffffff;
}

.btn_white span {
  background-color: #ffffff;
}

.btn_white span:after {
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.btn_white:hover {
  border: 1px solid #bea67c;
  -webkit-box-shadow: 0 0 10px rgba(190, 166, 124, 0.5);
          box-shadow: 0 0 10px rgba(190, 166, 124, 0.5);
  color: #bea67c;
}

.btn_white:hover span {
  background-color: #bea67c;
}

.btn_white:hover span:after {
  border-top: 1px solid #bea67c;
  border-right: 1px solid #bea67c;
}

.btn_gold {
  color: #bea67c;
  position: relative;
}

.btn_gold:after {
  content: "";
  position: absolute;
  width: 44px;
  height: 2px;
  background-color: #bea67c;
  bottom: 10px;
  left: 70px;
}

@media (max-width: 768.98px) {
  .btn_gold:after {
    bottom: 7px;
    left: 50px;
  }
}

@media (max-width: 479.98px) {
  .btn_gold:after {
    bottom: 2px;
    left: 22px;
  }
}

.btn_gold span {
  background-color: #bea67c;
}

.btn_gold span:after {
  border-top: 1px solid #bea67c;
  border-right: 1px solid #bea67c;
}

.btn_gold:hover {
  border: 1px solid #707070;
  -webkit-box-shadow: 0 0 10px rgba(112, 112, 112, 0.5);
          box-shadow: 0 0 10px rgba(112, 112, 112, 0.5);
}

.btn_gold:hover span {
  background-color: #707070;
}

.btn_gold:hover span:after {
  border-top: 1px solid #707070;
  border-right: 1px solid #707070;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  display: none;
}

.logo {
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 10px;
  position: relative;
}

.logo:before {
  content: "";
  position: absolute;
  width: 64px;
  height: 4px;
  background: #bea67c;
  top: 45%;
  left: 19%;
}

@media (max-width: 768.98px) {
  .logo {
    font-size: 28px;
  }
  .logo:before {
    width: 53px;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hid;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768.98px) {
  .container {
    max-width: none;
    padding: 0px 10px;
  }
}

.mainblock {
  background: url("./../../img/mainblock/Clip.png") left/50% 100% no-repeat, url("./../../img/mainblock/woodertexture.png") right/50% 100% no-repeat, rgba(0, 0, 0, 0.9);
  padding: 0px 30px 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.header {
  width: 100%;
  margin: 30px 0px 0px 0px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  margin: 0px 100px 0px 0px;
}

@media (max-width: 768.98px) {
  .header .logo {
    margin: 0px 0px 0px 0px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1062px) {
  .header__nav {
    display: none;
  }
}

.header__link {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  margin: 0px 100px 0px 0px;
}

.header__link:hover {
  color: #ffffff;
}

.header__info {
  margin-right: 30px;
}

@media (max-width: 479.98px) {
  .header__info {
    display: none;
  }
}

.header__language select {
  background: none;
  color: white;
  font-size: 15px;
  opacity: 0.5;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__icon {
  display: block;
  position: relative;
  margin-right: 50px;
  top: 0;
  left: 0;
  width: 30px;
  height: 22px;
  cursor: pointer;
  z-index: 5;
}

@media (max-width: 479.98px) {
  .menu__icon {
    margin-right: 0px;
  }
}

.menu__icon span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 10px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #bea67c;
}

.menu__icon span:first-child {
  top: 0px;
}

.menu__icon span:last-child {
  top: auto;
  bottom: 0px;
}

.menu__icon.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  background-color: #bea67c;
}

.menu__icon.active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 10px;
}

.menu__icon.active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 10px;
}

.menu__body {
  position: fixed;
  width: 500px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  padding: 150px 0 0 30px;
  -webkit-transform: translate3d(-100%, 0px, 0px);
          transform: translate3d(-100%, 0px, 0px);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__body.active {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

.menu__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list li {
  padding: 0 0 45px 0;
}

.menu__list li:nth-child(2), .menu__list li:nth-child(3) {
  padding: 0 0 45px 0;
  display: block;
}

.menu__list li:last-child {
  padding: 0;
}

.menu__link {
  color: #bea67c;
  font-size: 20px;
}

.menu__link:hover {
  color: #ffffff;
}

.menu__text {
  margin: 0px 0px 0px 15px;
}

.menu__text a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
}

.menu__text a:hover {
  color: #ffffff;
}

@media (max-width: 1200px) {
  .menu__text {
    display: none;
  }
}

.content {
  max-width: 737px;
  margin: auto;
  min-height: 361px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content__title {
  color: #bea67c;
  font-size: 100px;
  letter-spacing: 10px;
}

@media (max-width: 992.98px) {
  .content__title {
    font-size: 80px;
  }
}

@media (max-width: 768.98px) {
  .content__title {
    font-size: 60px;
  }
}

@media (max-width: 479.98px) {
  .content__title {
    font-size: 50px;
  }
}

.content__arrow {
  height: 74px;
  width: 2px;
  background-color: #ffffff;
  position: relative;
  top: -100%;
  left: 9px;
}

.content__arrow:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  right: -3.2px;
  bottom: 0px;
}

.content__arrow span {
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: -80px;
  left: -23px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.furniture {
  margin-top: 65px;
}

@media (max-width: 768.98px) {
  .furniture {
    margin-top: 0px;
  }
}

.block {
  padding: 65px 0;
}

@media (max-width: 768.98px) {
  .block {
    padding: 30px 0;
  }
}

.block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768.98px) {
  .block__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.block__photo {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 52%;
          flex: 0 1 52%;
  position: relative;
  border: 1px solid #707070;
  -webkit-box-shadow: 0 0 10px rgba(112, 112, 112, 0.5);
          box-shadow: 0 0 10px rgba(112, 112, 112, 0.5);
}

@media (max-width: 992.98px) {
  .block__photo {
    margin-top: 50px;
    height: 300px;
  }
}

@media (max-width: 768.98px) {
  .block__photo {
    margin-top: 50px;
    height: 250px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.block__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 35%;
          flex: 1 0 35%;
}

.block__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.title {
  font-size: 48px;
  position: relative;
}

@media (max-width: 768.98px) {
  .title {
    font-size: 36px;
    line-height: 43px;
  }
}

.title:before {
  content: "";
  height: 1px;
  width: 150px;
  background-color: #707070;
  position: absolute;
}

.title_gold {
  color: #bea67c;
}

.title_black {
  color: #000000;
}

.text {
  font-size: 15px;
  line-height: 25px;
  margin: 28px 0px 30px 0px;
  position: relative;
}

.text:before {
  content: "";
  height: 4px;
  width: 44px;
  background-color: #bea67c;
  position: absolute;
}

.text_white {
  color: #ffffff;
}

.text_black {
  color: #000000;
}

.item__btn {
  font-size: 14px;
  color: #000000;
  letter-spacing: 2px;
}

.item_left {
  text-align: left;
  padding: 100px 40px 0px 10px;
}

@media (max-width: 992.98px) {
  .item_left {
    padding: 80px 40px 0px 10px;
  }
}

@media (max-width: 768.98px) {
  .item_left {
    padding: 40px 40px 0px 10px;
  }
}

.item_left .item__title:before {
  top: 50%;
  left: -180px;
}

.item_left .item__text:before {
  top: 10px;
  left: -74px;
}

.item_right {
  text-align: right;
  padding: 100px 10px 0px 40px;
}

@media (max-width: 992.98px) {
  .item_right {
    padding: 80px 40px 0px 10px;
  }
}

@media (max-width: 768.98px) {
  .item_right {
    padding: 40px 40px 0px 10px;
  }
}

.item_right .item__title:before {
  top: 50%;
  right: -180px;
}

.item_right .item__text:before {
  top: 10px;
  right: -74px;
}

.figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 14%;
          flex: 0 1 14%;
}

.figure_right {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.figure_left {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.figure__number {
  color: #707070;
  font-size: 36px;
  position: absolute;
  bottom: 0;
}

.figure__number:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 52px;
  background-color: #bea67c;
  bottom: -100px;
  left: 50%;
}

@media (max-width: 768.98px) {
  .figure__number:before {
    display: none;
  }
}

.figure__number span {
  color: #bea67c;
}

.quality {
  margin-top: 135px;
  margin-bottom: 135px;
}

@media (max-width: 768.98px) {
  .quality {
    margin-top: 100px;
    margin-bottom: 50px;
  }
}

@media (max-width: 479.98px) {
  .quality {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.quality .item {
  max-width: 574px;
  margin: 0 auto;
}

.quality .item__title {
  text-align: center;
  padding: 0px 0px 28px 0px;
}

.quality .item__title:before {
  background-color: transparent;
}

.quality .item__text {
  text-align: center;
}

.quality .item__text:before {
  top: -28px;
  left: 42%;
}

.quality__block {
  margin-top: 70px;
}

.quality__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 992.98px) {
  .quality__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.quality__column {
  position: relative;
}

@media (max-width: 992.98px) {
  .quality__column {
    margin-bottom: 40px;
  }
}

.quality__photo {
  position: relative;
}

.quality__photo:after {
  content: "";
  position: absolute;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(190, 166, 124, 0.8);
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 2;
}

.quality__photo:before {
  content: "";
  position: absolute;
  width: 272px;
  height: 272px;
  border: 1px solid #e1e1e1;
  top: -14px;
  left: -14px;
  border-radius: 50%;
}

.quality__photo img {
  border-radius: 50%;
  overflow: hidden;
}

.quality__play {
  position: absolute;
  top: 110px;
  left: 51%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
}

.quality__text {
  margin: 57px 0px 0px 0px;
  text-align: center;
  position: relative;
}

.quality__text:before {
  content: "";
  position: absolute;
  height: 4px;
  width: 25px;
  background-color: #bea67c;
  top: -20px;
  left: 45%;
}

.quality__link {
  color: #000000;
}

.quality__link:hover {
  color: #707070;
}

.video {
  background: url("./../../img/video/Clip.png") 0 0/100% 100% no-repeat, rgba(0, 0, 0, 0.9);
  padding: 200px 0px 250px 0px;
}

@media (max-width: 992.98px) {
  .video {
    padding: 100px 0px 170px 0px;
  }
}

@media (max-width: 992.98px) {
  .video {
    padding: 70px 0px 120px 0px;
  }
}

@media (max-width: 479.98px) {
  .video {
    padding: 20px 0px 60px 0px;
  }
}

.video__button {
  height: 55px;
  width: 300px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: white;
}

@media (max-width: 768.98px) {
  .video__button {
    width: 250px;
    height: 50px;
  }
}

@media (max-width: 479.98px) {
  .video__button {
    width: 200px;
    height: 40px;
    font-size: 10px;
  }
}

.video__button span {
  position: relative;
}

.video__button span:after {
  content: url("./../../img/icons/player6.png");
  position: absolute;
  top: -27%;
  left: -50%;
}

@media (max-width: 479.98px) {
  .video__button span:after {
    top: -40%;
  }
}

.video__button:hover {
  border: 1px solid #bea67c;
  -webkit-box-shadow: 0 0 10px rgba(190, 166, 124, 0.5);
          box-shadow: 0 0 10px rgba(190, 166, 124, 0.5);
  color: #bea67c;
}

.video__item {
  max-width: 470px;
  margin: 0 auto;
}

.video__item__title {
  font-size: 48px;
  color: #bea67c;
}

.video__item__text {
  color: red;
}

.about {
  padding: 65px 0px 55px 0px;
}

@media (max-width: 768.98px) {
  .about {
    padding: 0px 0px 0px 0px;
  }
  .about .block__photo {
    height: 500px;
  }
}

@media (max-width: 479.98px) {
  .about {
    padding: 0px 0px 0px 0px;
  }
  .about .block__photo {
    height: 300px;
  }
}

.footer {
  background: url("../../img/footer/Clip.png") 0 0/auto 100% no-repeat, rgba(0, 0, 0, 0.9);
}

.footer__row {
  height: 70px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item {
  color: #464646;
  text-align: left;
}

@media (max-width: 479.98px) {
  .footer__item {
    font-size: 10px;
  }
}

.footer__author {
  text-align: right;
  color: #464646;
}

.footer__author span {
  color: #a5a4a4;
}

@media (max-width: 479.98px) {
  .footer__author {
    font-size: 10px;
  }
}
